body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board_cnt {
    position: relative;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.board {
    position: relative;
    border-color: black;
    border-style: solid;
    width: 18px;
    height: 18px;
    border-width: 1px;
    background-color: green;
}

.player{
    background-color: black;
    position: relative;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
}

.stats {

}

.life {
    width: 400px;
    height: 20px;
    background-color: red;
    margin:10px 0;
}

.life div {
    width: 400px;
    height: 20px;
    background-color: darkgreen;
}