body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-weight: bolder;
}

.board_cnt {
    position: relative;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.board {
    position: relative;
    border-color: black;
    border-style: solid;
    width: 18px;
    height: 18px;
    border-width: 1px;
    background-color: #466646;
;
}

.player1, .player2 {
    background-color: black;
    position: relative;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
}

.enemy {
    background-color: red;
    position: relative;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
}

.life {
    background-color: yellow;
    position: relative;
    color: black;
    width: 20px;
    height: 20px;
    text-align: center;
}

.stats {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.p1, .p2 {
   background-color: lightskyblue;
    display: flex;
    flex-direction: column;
}

.health1, .health2 {
    width: 300px;
    height: 20px;
    background-color: red;
    margin: 10px 20px;
    display: inline-block;
}

.health1 div, .health2 div {
    width: 300px;
    height: 20px;
    background-color: darkgreen;
    display: inline-block;
}

.exp1, .exp2 {
    width: 300px;
    height: 20px;
    background-color: grey;
    margin: 10px 20px;
    display: inline-block;
}

.exp1 div, .exp2 div {
    width: 0;
    height: 20px;
    background-color: yellow;
    display: inline-block;
}

#menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#menu > * {
    flex-basis: 20%;
    font-size: 220%;
    text-align: center;
    width: 80%;
    border-radius: 110%;
    font-weight: bolder;
    outline: none;
}

#menu > input::-webkit-input-placeholder {
    color: grey;
}

.hidden {
    visibility: hidden;
}

.cat_things {
    display: flex;
    width: 400px;
    justify-content: space-around;
}

.cat_things > * {
    display: inline-block;
    flex-basis: 200px;
}

.cat {
    position: relative;
    width: 200px;
    height: auto;
}


#button {
    display: inline;
}
